{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-4">
        <div class="card-body">
          <h2 class="card-title mb-4">Password Recovery</h2>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_email">Email:</label>
              <input type="email" name="email" id="id_email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Send a link to password recovery</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
