{% csrf_token %}
<br>
<div class="form-group">
    <label for="{{ form.product_name.id_for_label }}">Product Name:</label>
    {{ form.product_name }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.price.id_for_label }}">Price:</label>
    {{ form.price }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.category.id_for_label }}">Category:</label>
    {{ form.category }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.brand.id_for_label }}">Brand:</label>
    {{ form.brand }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.color.id_for_label }}">Color:</label>
    {{ form.color }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.size.id_for_label }}">Size:</label>
    {{ form.size }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.weight.id_for_label }}">Weight:</label>
    {{ form.weight }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.material.id_for_label }}">Material:</label>
    {{ form.material }}
</div>
<br>
<div class="form-group">
    <label for="{{ form.rating.id_for_label }}">Rating:</label>
    {{ form.rating }}
</div>
<br>

