{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Changing the password</h2>
          </div>
          <div class="card-body">
            {% if messages %}
              <div class="alert alert-dismissible fade show {% if messages.tags %}alert-{{ messages.tags }}{% endif %}" role="alert">
                {% for message in messages %}
                  {{ message }}<br>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
             <div class="mb-3">
                 <label for="id_password" class="form-label">New password:</label>
                 <input type="password" name="password" id="id_password" class="form-control" required>
             </div>
                <div class="mb-3">
                    <label for="id_confirm_password" class="form-label">Confirm new password:</label>
                    <input type="password" name="confirm_password" id="id_confirm_password" class="form-control"
                           required>
                </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
